<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ Customer_Info.Customer_Branchcode }}
    <form id="create_customer" name="create_customer" action="{% url 'customer_list:create_action' %}" method="post">
    {% csrf_token %}
    
    <table border="1">
        <tr>
            <th scope="Cusotmer_Name">이름</th>
            <th scope="Customer_Barnchcode">지점</th>
            <th scope="Customer_Rank">등급</th>
            <th scope="Cusotmer_Brith">생년월일</th>
            <th scope="Cusotmer_Sex">성별</th>
            <th scope="Cusotmer_Address">주소</th>
            <th scope="Customer_Status">상태</th>
        </tr>    
        <tr>
            <td><input type="text" name="c_name" value=""></td>
            <td><select name="c_branch">
                <option value=""></option>
                {% for branch in Customer_Info.Customer_Barnchcode %}
                {% endfor %}
                <option value="{{ Customer_Info.Customer_Branchcode }}"></option>
            </td>
            <td><input type="text" name="c_rank" value=""></td>
            <td><input type="text" name="c_birth" value=""></td>
            <td><input type="text" name="c_sex" value=""></td>
            <td><input type="text" name="c_address" value=""></td>
            <td><input type="text" name="c_status" value=""></td>
        </tr>
    </table>
    <input type="submit" value="신규">
    </form>
    

</body>
</html>
